* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.image {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

h1 {
    font-family: sans-serif;
    color: lightcoral;
    font-size: 20px;
    margin-left: 13px;
    margin-right: 13px;
}